<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/restws</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>scalability.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/restws/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Items</servlet-name>
        <jsp-file>/items.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BlackList</servlet-name>
        <jsp-file>/blackList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InvoiceEdit</servlet-name>
        <jsp-file>/invoice_edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InvoiceEditExecute</servlet-name>
        <servlet-class>servlets.InvoiceEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderEdit</servlet-name>
        <jsp-file>/order_edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>OrderEditExecute</servlet-name>
        <servlet-class>servlets.OrderEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemEdit</servlet-name>
        <jsp-file>/item_edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ItemEditExecute</servlet-name>
        <servlet-class>servlets.ItemEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admins</servlet-name>
        <jsp-file>/admins.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminsNew</servlet-name>
        <jsp-file>/admins_new.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewExecute</servlet-name>
        <servlet-class>servlets.AdminsAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsDelete</servlet-name>
        <servlet-class>servlets.AdminsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsEditExecute</servlet-name>
        <servlet-class>servlets.AdminsEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsEdit</servlet-name>
        <jsp-file>/admins_edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemAdd</servlet-name>
        <jsp-file>/item_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemAdd</servlet-name>
        <url-pattern>/item_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <jsp-file>/categories.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlackList</servlet-name>
        <url-pattern>/blacklist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryAdd</servlet-name>
        <jsp-file>/category_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryAdd</servlet-name>
        <url-pattern>/category_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryEdit</servlet-name>
        <jsp-file>/category_edit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryEdit</servlet-name>
        <url-pattern>/category_edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Orders</servlet-name>
        <jsp-file>/orders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderNew</servlet-name>
        <jsp-file>/order_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderNew</servlet-name>
        <url-pattern>/order_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Invoices</servlet-name>
        <jsp-file>/invoices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Invoices</servlet-name>
        <url-pattern>/invoices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvoiceNew</servlet-name>
        <jsp-file>/invoice_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceNew</servlet-name>
        <url-pattern>/invoice_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Suppliers</servlet-name>
        <jsp-file>/suppliers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Suppliers</servlet-name>
        <url-pattern>/suppliers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierNew</servlet-name>
        <jsp-file>/supplier_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierNew</servlet-name>
        <url-pattern>/supplier_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierEdit</servlet-name>
        <jsp-file>/supplier_edit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierEdit</servlet-name>
        <url-pattern>/supplier_edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierNewExecute</servlet-name>
        <servlet-class>servlets.SupplierAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierNewExecute</servlet-name>
        <url-pattern>/supplier_new_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierDeleteExecute</servlet-name>
        <servlet-class>servlets.SupplierDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierDeleteExecute</servlet-name>
        <url-pattern>/supplier_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierEditExecute</servlet-name>
        <servlet-class>servlets.SupplierEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierEditExecute</servlet-name>
        <url-pattern>/supplier_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryNewExecute</servlet-name>
        <servlet-class>servlets.CategoryAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryNewExecute</servlet-name>
        <url-pattern>/category_new_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryDeleteExecute</servlet-name>
        <servlet-class>servlets.CategoryDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryDeleteExecute</servlet-name>
        <url-pattern>/category_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryEditExecute</servlet-name>
        <servlet-class>servlets.CategoryEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryEditExecute</servlet-name>
        <url-pattern>/category_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderNewExecute</servlet-name>
        <servlet-class>servlets.OrderAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderNewExecute</servlet-name>
        <url-pattern>/order_new_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderDeleteExecute</servlet-name>
        <servlet-class>servlets.OrderDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDeleteExecute</servlet-name>
        <url-pattern>/order_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemNewExecute</servlet-name>
        <servlet-class>servlets.ItemAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemNewExecute</servlet-name>
        <url-pattern>/item_new_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemDeleteExecute</servlet-name>
        <servlet-class>servlets.ItemDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemDeleteExecute</servlet-name>
        <url-pattern>/item_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvoiceNewExecute</servlet-name>
        <servlet-class>servlets.InvoiceAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceNewExecute</servlet-name>
        <url-pattern>/invoice_new_execute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvoiceDeleteExecute</servlet-name>
        <servlet-class>servlets.InvoiceDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceDeleteExecute</servlet-name>
        <url-pattern>/invoice_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceEdit</servlet-name>
        <url-pattern>/invoice_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceEditExecute</servlet-name>
        <url-pattern>/invoice_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEdit</servlet-name>
        <url-pattern>/order_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEditExecute</servlet-name>
        <url-pattern>/order_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemEdit</servlet-name>
        <url-pattern>/item_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemEditExecute</servlet-name>
        <url-pattern>/item_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admins</servlet-name>
        <url-pattern>/admins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsNew</servlet-name>
        <url-pattern>/admins_new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewExecute</servlet-name>
        <url-pattern>/admin_new_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsDelete</servlet-name>
        <url-pattern>/admin_delete_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsEditExecute</servlet-name>
        <url-pattern>/admin_edit_execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsEdit</servlet-name>
        <url-pattern>/admin_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/restws/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
